.section-connect {
  background-color: var(--dark);
  padding: 16vw 0vw;
  margin-top: 8em;
}

.connect-content {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 660px;
}

.connect-title {
  margin-bottom: 0.3em;
}

.section-connect .contact {
  width: 72%;
  color: white;
}

.connect-description {
  margin-bottom: 1.7em;
}

.section-connect button {
  color: white;
  background-color: transparent;
  padding: 1em;
  border: 1px solid var(--light);
  border-bottom: 5px solid var(--accent);
  position: relative;
  background: linear-gradient(to bottom, transparent 50%, var(--accent) 50%);
  background-size: 100% 200%;
  background-position: right top;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.section-connect button:hover {
  color: var(--dark);
  border-color: var(--accent);
  background-position: left bottom;
}

.social {
  display: flex;
  width: 22%;
  height: auto;
}

.social-media-group a {
  color: white;
}

.connect-line {
  z-index: 1;
  width: 1px;
  background-color: var(--light);
  margin-right: 1em;
  margin-top: 1em;
}

.social-title {
  color: white;
  margin-top: 1em;
  margin-bottom: 1.1em;
}

.social-media {
  margin-top: 0.6em;
}

.social-media .underline {
  border-bottom: 3px solid white;
  transition: 0.2s ease-out;
}

.social-media .underline:hover {
  color: var(--accent);
  border-bottom: 3px solid var(--accent);
}

@media only screen and (max-width: 750px) {
  .section-connect {
    padding: 4em 1em 4em 1em;
  }
  .connect-content {
    display: block;
    width: 92vw;
    min-width: 0;
  }

  .section-connect .contact {
    width: 100%;
  }

  .social {
    width: 100%;
    margin-top: 2em;
    display: block;
  }

  .connect-line {
    width: 100%;
    height: 1px;
    background-color: var(--light);
    margin: 0;
    margin-bottom: 2em;
  }

  .social-title {
    margin-top: 1em;
    margin-bottom: 0.3em;
  }

  .social-media-group {
    display: flex;
    flex-wrap: wrap;
  }

  .social-media {
    margin-right: 0.6em;
  }
}
