:root {
  --dark: #27292d;
  --med: #4d5053;
  --light: #aab0ba;
  --vlite: #e7e7e7;
  --accent: #19ef2e;
  --secondary: #0085ff;
  --red: #fa6f43;
  --med-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
  --small-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
}

a {
  text-decoration: none;
  color: var(--dark);
}

@font-face {
  font-family: pitchsans;
  src: url(fonts/PitchSansWeb-Bold.woff);
  font-weight: bold;
}

@import url("https://rsms.me/inter/inter.css");

@font-face {
  font-family: cirka;
  src: url(fonts/Cirka-Bold.woff);
  font-weight: bold;
}

#white {
  color: white;
}
html {
  overflow-x: hidden;
}
.h1 {
  font-family: cirka;
  font-weight: bold;
  font-size: 3.5em;
  color: var(--dark);
}

.h2 {
  font-family: cirka;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 120%;
  color: var(--dark);
}

.p-main {
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
  line-height: 150%;
  color: var(--med);
  font-weight: 300;
}

.p {
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 140%;
  color: var(--med);
}

.light {
  color: white;
}

.p-dark {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 140%;
  color: white;
}

.label {
  text-transform: uppercase;
  font-family: pitchsans;
  font-weight: bold;
  font-size: 1em;
  line-height: 120%;
  color: var(--med);
}

.label-secondary {
  text-transform: uppercase;
  font-family: pitchsans;
  font-weight: bold;
  font-size: 1em;
  line-height: 120%;
  color: var(--secondary);
}

.label-secondary-top {
  text-transform: uppercase;
  font-family: pitchsans;
  font-weight: bold;
  font-size: 1em;
  line-height: 120%;
  color: var(--secondary);
  margin-top: 1em;
  margin-bottom: 1.3em;
}

.label-secondary-dark {
  text-transform: uppercase;
  font-family: pitchsans;
  font-weight: bold;
  font-size: 1em;
  line-height: 120%;
  color: var(--dark);
}

.label-small {
  margin-top: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: pitchsans;
  font-weight: bold;
  font-size: 1em;
  line-height: 120%;
  color: var(--red);
}

.caption {
  font-family: pitchsans;
  text-align: center;
  margin-top: 1em;
  color: var(--med);
}

.title {
  margin-bottom: 1em;
}

.link {
  display: inline;
  cursor: pointer;
  color: var(--secondary);
}

.link:hover {
  border-bottom: 2px solid;

  cursor: pointer;
  transition: 0.1s ease-in;
}

.line {
  height: 7px;
  width: 100%;
  background-color: var(--accent);
}
.reg-margin {
  margin: 0 4vw;
  overflow-x: hidden;
}
strong {
  font-weight: bold;
}

.secondary {
  color: var(--secondary);
}

@media only screen and (max-width: 750px) {
  .content-container {
    padding: 0em;
  }

  .h1 {
    font-size: 2.4em;
  }

  .h2 {
    font-size: 1.6em;
  }

  .p {
    font-weight: regular;
  }

  .p-main {
    font-weight: regular;
  }

  ul {
    margin-left: 4vw;
  }

  ol {
    margin-left: 4vw;
  }

  .p-main {
    font-size: 1em;
  }
  .p {
    font-size: 0.8em;
  }

  .label {
    font-size: 0.9em;
  }

  .label-secondary {
    font-size: 0.9em;
  }

  .label-secondary-top {
    font-size: 0.9em;
  }

  .label-secondary-dark {
    font-size: 0.9em;
  }

  .label-small {
    font-size: 0.9em;
  }

  .presentation {
    width: 92vw;
    height: 70vw;
  }
}

/*************************** 
▒█▀▀█ █▀▀█ █▀▀█ ░░▀ █▀▀ █▀▀ ▀▀█▀▀ 
▒█▄▄█ █▄▄▀ █░░█ ░░█ █▀▀ █░░ ░░█░░ 
▒█░░░ ▀░▀▀ ▀▀▀▀ █▄█ ▀▀▀ ▀▀▀ ░░▀░░ 

▒█▀▀▄ █▀▀ ▀▀█▀▀ █▀▀█ ░▀░ █░░ 
▒█░▒█ █▀▀ ░░█░░ █▄▄█ ▀█▀ █░░ 
▒█▄▄▀ ▀▀▀ ░░▀░░ ▀░░▀ ▀▀▀ ▀▀▀ 
*****************************/

.content-center {
  width: 620px;
  margin: auto;
  margin-bottom: 2em;
}

.no-button .hero-button-group {
  visibility: hidden;
  height: 0px;
}
