.sketch-name {
  padding-top: 1em;
}

.container-sketch:hover img {
  filter: opacity(60%);
}

.container-sketch {
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
}

.container-sketch .sketch-img {
  height: 16em;
  width: auto;
}

.container-sketch img {
  height: 16em;
  width: auto;
}

.container-sketch .sketch-name {
  width: auto;
}
