.sketch-group {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 4em;
  margin-left: 4vw;
}

.sketch-componenet img {
  height: 16em;
  width: auto;
  margin-right: 1em;
}
