.hero-text {
  margin-top: 8em;
  margin-bottom: 3em;
  overflow-y: hidden;
}

.hero-text-title {
  text-align: center;
  margin-bottom: 2em;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.hero-text .h1 {
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 750px) {
  .hero-text-title {
    width: 92vw;
  }
}
