.hero-container {
  margin-bottom: 2em;
  overflow-y: hidden;
}

.hero-image {
  object-fit: cover;
  padding: 2em 4vw;
  width: 92vw;
  height: auto;
}

.hero-container .line {
  transform: translateY(-5px);
}

.hero-content {
  display: flex;
  padding-top: 8em;
  padding-bottom: 6em;
  margin-top: 2em;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
}

.hero-content .h1 {
  margin-bottom: 0.5em;
}

.hero-meta {
  width: 260px;
}

.hero-category .label {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.1em;
}

.hero-project-name {
  margin-bottom: 3em;
  margin-right: 8vw;
  max-width: 700px;
}

.hero-button-group {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid var(--accent);
  position: relative;
  background: linear-gradient(to left, transparent 50%, var(--accent) 50%);
  background-size: 200% 100%;
  background-position: right top;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.hero-button-group:hover {
  color: var(--dark);
  border-color: var(--accent);
  background-position: left top;
}

.hero-button-content {
  padding: 1em;
}

.hero-button-right {
  width: 2em;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent);
}

.hero-button-group img {
  height: 1em;
  width: auto;
}

@media only screen and (max-width: 750px) {
  .hero-content {
    flex-direction: column;
    margin-top: 2.2em;
    padding-top: 2em;
  }

  .hero-container {
    margin-top: 3em;
    margin-bottom: 2em;
  }

  .hero-project-name {
    margin-bottom: 1em;
  }

  .hero-image {
    padding: 2em 4vw;
    width: 92vw;
    height: auto;
  }
  .hero-content {
    margin-bottom: 4em;
    padding-bottom: 0em;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

  .hero-content .h1 {
    width: 100%;
  }

  .hero-category {
    width: 92vw;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .meta-label {
    margin-bottom: 0em;
  }

  .meta-section {
    width: 48%;
  }

  .hero-button-group {
    width: 100%;
  }

  .hero-category .label {
    margin-right: 1em;
    margin-bottom: 0.1em;
  }

  .hero-button-group {
    margin-top: 2em;
    width: 92vw;
  }

  .hero-button-group img {
    height: 1em;
    width: auto;
  }

  .content-center {
    width: 100%;
  }
}
